<div class="relative w-full overflow-hidden rounded-2xl mt-6" (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()" (mouseleave)="onMouseLeave()"
  [ngClass]="{ 'cursor-grab': !isDragging, 'cursor-grabbing': isDragging }">
  <div #slider class="flex ease-in-out transition-transform duration-700  rounded-2xl" [ngStyle]="{
      transform: 'translateX(-' + activeSlide * 100 + '%)'
    }">
    <div *ngFor="let slide of slides; let i = index" class="w-full flex-shrink-0 2xl:flex items-center "
      [ngClass]="slide.textColor || 'text-white-00'" [ngStyle]="{
        width: '100%',
        backgroundImage: slide.gradient
          ? 'radial-gradient(' + slide.gradient + ')'
          : 'radial-gradient(circle at top right, #118A9F, #07282E)'
      }">
      <div class="w-full 2xl:w-1/2 px-10 pt-8 lg:pt-12 2xl:px-20">
        <h1 class="text-2xl lg:text-3xl 2xl:text-5xl text-center 2xl:text-start font-bold">
          {{ slide.title }}
        </h1>
        <h1 class="text-2xl lg:text-3xl 2xl:text-5xl text-center 2xl:text-start font-bold mt-1 lg:mt-2 xl:mt-4">
          <span [ngClass]="slide.highlightColor || 'text-mint-300'">{{ slide.highlight }} <span
              [ngClass]="slide.textColor || 'text-white-00'">{{ slide.after_highlight }}</span></span>
        </h1>
        <p class="mt-1 lg:mt-2 xl:mt-4 text-sm lg:text-lg 2xl:text-xl text-center 2xl:text-start">{{ slide.description }}</p>
        <div class="flex justify-center 2xl:justify-start mt-2 xl:mt-4">
          <app-primary-button [text]="slide.buttonText" 
            fontSize="text-sm mt-1 lg:mt-2 xl:mt-4 py-3 px-3"></app-primary-button>
        </div>
      </div>
      <div class="w-full 2xl:w-1/2 flex justify-center 2xl:justify-end items-end h-[200px] lg:h-[350px] 2xl:h-[468px]">
        <img [src]="slide.patternUrl" alt="Pattern" class="object-contain relative pointer-events-none select-none" />
        <img [src]="slide.imageUrl" alt="Slide"
          class="h-[200px] lg:h-[350px] 2xl:h-[468px] 2xl:w-auto 2xl:mr-16 absolute object-contain px-10 pointer-events-none select-none" />
      </div>
    </div>
  </div>

  <!-- Dots -->
  <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
    <span *ngFor="let slide of slides; let i = index"
      class="h-2.5 rounded-full cursor-pointer transition-all duration-300" [ngClass]="{
        'w-2.5 bg-mint-500 opacity-40': i !== activeSlide,
        'w-8 bg-mint-300': i === activeSlide
      }" (click)="goToSlide(i)"></span>
  </div>
</div>