<div class="relative w-full p-1 mb-4">
  <img 
    src="assets/icons/search-icon.svg" 
    class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-fade-text pointer-events-none" 
    alt="Search"
  />

  <input 
    type="text"
    [placeholder]="placeholder"
    [value]="model"
    (input)="onInput($event)"
    class="w-full rounded-full border border-gray-200 bg-fade-white pl-9 pr-4 py-[4px] placeholder-custom bg-custom focus:outline-none focus:ring-2 focus:ring-mint-200"
  />
</div>
