<div class="flex flex-col h-full w-[68px] border-r-2 border-r-gray-100 py-4 items-center justify-between">
  <div>
    <div class="text-gray-500 text-sm mb-3 text-center">Menu</div>

    <!-- Apply space-y-3 to a flex-col container -->
    <div class="flex flex-col items-center space-y-3">
      <ng-container *ngFor="let item of menus">
        <app-menu-button
          [image]="item.image"
          [alt]="item.key"
          [isActive]="item.key === active"
          [activeColor]="'#9BDEEB'"
          [inactiveColor]="'#9BDEEB'"
          (click)="selectMenu(item.key)">
        </app-menu-button>
      </ng-container>
    </div>
  </div>

  <div class="text-gray-500 text-sm">V1.0</div>
</div>
