<div class="flex space-x-6">
  <ng-container *ngFor="let icon of icons">
    <a [href]="icon.link" target="_blank" rel="noopener noreferrer">
      <ng-container [ngSwitch]="icon.type">
        <!-- FontAwesome Icon -->
        <i *ngSwitchCase="'fontawesome'" [class]="getIconClass(icon)" [ngStyle]="{'filter': getIconStyle(icon)}" style="font-size: 24px;"></i>

        <!-- SVG Icon -->
        <svg *ngSwitchCase="'svg'" [attr.d]="getSvgPath(icon)" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" [ngStyle]="{'filter': getIconStyle(icon)}">
          <path [attr.d]="getSvgPath(icon)" fill="currentColor" />
        </svg>

        <!-- Image Icon -->
        <img *ngSwitchCase="'image'" [src]="icon.className" [alt]="icon.altText" [ngStyle]="{'filter': getIconStyle(icon)}" class="w-5 h-5"/>
      </ng-container>
    </a>
  </ng-container>
</div>
