<header class="flex items-center justify-between px-4 py-4 bg-white shadow-md border-b border-b-gray-200 w-full">
    <!-- Toggle button (left) -->
     <div class="flex">

      <app-toggle-button
        iconPath="assets/icons/bars-icon.svg"
        (clicked)="menuClicked.emit()">
      </app-toggle-button>
    
    <app-logo customClass="" />
    </div>
  
    <!-- Right section -->
    <div class="flex items-center">
      <app-icon-button iconSrc="assets/icons/sun-shine-icon.svg" iconClass="w-8" (click)="onSunClick()"></app-icon-button>
      <app-icon-button iconSrc="assets/icons/gear-icon.svg" iconClass="w-5 ml-3" (click)="onGearClick()"></app-icon-button>
      <app-icon-button iconSrc="assets/icons/bell-null-icon.svg" iconClass="w-[17px] ml-5" (click)="onBellClick()"></app-icon-button>
      <app-avatar src="assets/icons/Avatar.png" customClass="w-8 h-8 rounded-full ml-5"></app-avatar>
    </div>
  </header>
  