<header class="flex items-center justify-between px-4 py-3 bg-white-00 border-b border-b-fade-white w-full fixed top-0 z-50">
    <!-- Toggle button (left) -->
     <div class="flex">

      <app-toggle-button
        iconPath="assets/icons/bars-icon.svg"
        (clicked)="menuClicked.emit()">
      </app-toggle-button>
    
    <app-logo customClass="" />
    </div>
  
    <!-- Right section -->
    <div class="flex items-center inset-0">
      <app-icon-button  iconSrc="assets/icons/sun-shine-icon.svg" iconClass="w-7" (click)="onSunClick()"></app-icon-button>
      <app-icon-button iconSrc="assets/icons/gear-icon.svg" iconClass="w-5 ml-2 lg:ml-3" (click)="onGearClick()"></app-icon-button>
      <app-icon-button iconSrc="assets/icons/notifications_unread.svg" iconClass="w-6 ml-2 lg:ml-4" (click)="onBellClick()"></app-icon-button>
      <app-avatar (click)="toggleAvatarDropdown()" src="assets/icons/Avatar.png" customClass="w-8 h-8 rounded-full ml-3 lg:ml-5"></app-avatar>
    </div>

  </header>
  


