<!-- src/app/login/welcome-sidebar/welcome-sidebar.component.html -->
<div class="h-full bg-gradient-to-t from-[#0A3F49] to-[#1293AB] text-white p-20 flex flex-col justify-between">
    <div>
        <div class="text-5xl xl:text-6xl font-semibold leading-16 flex items-center">Hello <div><img src="assets/icons/hand-wave.png" class="w-[60px] xl:w-[70px] ml-1"/></div></div>
      <div class="text-5xl xl:text-6xl font-semibold mb-8 leading-16">Welcome to <br/> <span class="text-white font-semibold">Picklebug</span></div>
      <p class="text-xl xl:text-2xl font-semibold mb-8">AI Conversational Assistant!</p>
      <p class="text-[15px] xl:text-[17px] opacity-80 font-[300]">
        The next-gen AI chatbot that transforms conversations into <br/> solutions.
        Powered by LUMEN’s intelligent modular system.
      </p>
    </div>
  
    <div class="mt-10 text-sm">
      <div class="mb-6 flex items-center"><span class="material-symbols-outlined mr-2">
        pin_drop
        </span>

        <span class="text-[15px] xl:text-[17px] opacity-80">789 Innovation Drive, San Francisco, CA, USA</span></div>
        <app-social-icon [icons]="socialIcons"></app-social-icon>

    </div>
  </div>
  