<label *ngIf="label" class="block mb-2 font-medium">{{ label }}</label>

<div class="relative mb-4">
  <input
    [type]="showPassword ? 'text' : 'password'"
    [ngModel]="value"
    (ngModelChange)="onPasswordChange($event)"
    [name]="name"
    [attr.autocomplete]="autocomplete"
    [placeholder]="placeholder"
    class="bg-custom placeholder-custom w-full p-2.5 border border-[#EDEDED] rounded-md focus:outline-none focus:ring-2 focus:ring-mint-400 pr-10"
  />
  <button
    type="button"
    (click)="togglePassword()"
    class="absolute inset-y-0 right-3 flex items-center text-fade-text"
    tabindex="-1"
  >
    <i [ngClass]="showPassword ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
  </button>
</div>

<!-- Show bars and checklist only after typing -->
<div *ngIf="showStrength && passwordTouched" class="mb-4">
  <!-- Strength Bars -->
  <div class="flex space-x-2 mb-2">
    <div
      *ngFor="let i of [1,2,3,4]; let idx = index"
      class="h-1 flex-1 rounded transition-colors duration-300"
      [ngClass]="{
        'bg-gray-200': strengthLevel <= idx,
        'bg-red-500': strengthLevel === 1 && idx <= 0,
        'bg-orange-400': strengthLevel === 2 && idx <= 1,
        'bg-yellow-400': strengthLevel === 3 && idx <= 2,
        'bg-green-500': strengthLevel >= 4 && idx <= 3
      }"
    ></div>
  </div>
  

  <!-- Password Rules -->
  <ul class="text-sm text-primary-text list-disc pl-5 space-y-1">
    <li *ngIf="!requirements.symbol">a symbol</li>
    <li *ngIf="!requirements.uppercase">an uppercase letter</li>
    <li *ngIf="!requirements.lowercase">a lowercase letter</li>
    <li *ngIf="!requirements.number">a number</li>
    <li *ngIf="!requirements.minLength">8 characters minimum</li>
  </ul>
</div>
