<div class="relative mb-4">
    <input
      [type]="showPassword ? 'text' : 'password'"
      [ngModel]="value"
      (ngModelChange)="valueChange.emit($event)"
      [name]="name"
      [attr.autocomplete]="autocomplete"
      [placeholder]="placeholder"
      class="bg-custom placeholder-custom w-full p-2.5 border border-[#EDEDED] rounded-md focus:outline-none focus:ring-2 focus:ring-cyan-500 pr-10"
    />
    <button
      type="button"
      (click)="togglePassword()"
      class="absolute inset-y-0 right-3 flex items-center text-gray-400"
      tabindex="-1"
    >
      <i [ngClass]="showPassword ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
    </button>
</div>
