<div class="w-full max-w-[400px] space-y-6">

    <app-logo customClass="mb-6 h-16" />

    <div class="">
      <h2 class="text-4xl lg:text-5xl font-bold mb-4 text-center lg:text-start">Sign up</h2>
      <p class="text-md text-fade-text text-center lg:text-start">Enter your personal details and start journey with us</p>
    </div>

    <form class="space-y-4" (ngSubmit)="onSubmit()" #signupForm="ngForm" novalidate>

      <div class="flex space-x-4 mb-0">
        <app-form-input
          [(value)]="first_name"
          name="first_name"
          required
          type="text"
          autocomplete="given-name"
          label="First name"
          #firstNameRef="ngModel"
          [(ngModel)]="first_name">
        </app-form-input>
        <app-form-input
          [(value)]="last_name"
          name="last_name"
          required
          type="text"
          autocomplete="family-name"
          label="Last name"
          #lastNameRef="ngModel"
          [(ngModel)]="last_name">
        </app-form-input>
      </div>
      <div *ngIf="(firstNameRef.invalid && firstNameRef.touched) || (lastNameRef.invalid && lastNameRef.touched)" class="text-red-500 text-sm">
        First and Last name are required.
      </div>
    
      <app-form-input
        [(value)]="email"
        name="email"
        required
        email
        type="email"
        autocomplete="email"
        label="Email"
        placeholder="Enter your email"
        #emailRef="ngModel"
        [(ngModel)]="email">
      </app-form-input>
      <div *ngIf="emailRef.invalid && emailRef.touched" class="text-red-500 text-sm">
        Please enter a valid email address.
      </div>
    
      <app-form-input
        [(value)]="phone"
        name="phone"
        required
        type="tel"
        autocomplete="tel"
        label="Phone Number"
        #phoneRef="ngModel"
        [(ngModel)]="phone">
      </app-form-input>
      <div *ngIf="phoneRef.invalid && phoneRef.touched" class="text-red-500 text-sm">
        Phone number is required.
      </div>
    
      <app-password-toggle-input
        [(value)]="password"
        name="password"
        required
        minlength="6"
        placeholder="Enter your password"
        type="password"
        autocomplete="new-password"
        label="Password"
        [showStrength]="true"
        #passwordRef="ngModel"
        [(ngModel)]="password">
      </app-password-toggle-input>
      <div *ngIf="passwordRef.invalid && passwordRef.touched" class="text-red-500 text-sm">
        Password must be at least 6 characters.
      </div>
    
      <app-submit-button
        [label]="'Sign up'"
        [disabled]="!isFormValid()">
      </app-submit-button>
    </form>
    

<div class="text center text-fade-text">By signing up, you acknowledge that you have read and understood, and agree to Unkrn  <a href="/terms" class="text-primary-text underline">Terms</a> and <a href="#" class="text-primary-text underline">Privacy Policy</a>.</div>
    <div class="flex items-center gap-2 text-sm text-fade-text">
      <div class="flex-1 h-px bg-fade-white"></div>
      Or
      <div class="flex-1 h-px bg-fade-white"></div>
    </div>

    <div class="space-x-2 lg:flex justify-between">
      <app-social-button
        imageSrc="assets/icons/google-icon.svg"
        imageAlt="Google logo"
        label="Sign in with Google"
      />

      <app-social-button
        iconClass="fa-brands fa-apple"
        label="Sign up with Phone"
      />

    </div>

    <p class="text-center text-sm">
      Already have an account?
      <a href="/login" class="text-mint-350 hover:underline">Login</a>
    </p>
  </div>
