<div class="flex flex-col gap-4 justify-between h-full p-4 w-full lg:w-64">
  <div class="flex flex-col gap-4 shrink flex-1 overflow-auto">
    <app-search-input
      [(model)]="searchQuery"
      (modelChange)="onSearchChange()"
      placeholder="Quick search"
    />
    <ng-container *ngIf="isChatMenu">
      <div
        class="flex-1max-h-[192px] overflow-y-auto shrink overflow-auto relative"
      >
        <div class="font-semibold sticky top-0 bg-white z-50">Action Menu</div>
        <div class="p-1">
          <div
            *ngFor="let contact of filteredActionMenu"
            (click)="selectSubmenu(contact.id)"
            class="contact-item flex items-center space-x-3 px-3 py-2 rounded-md cursor-pointer transition-all duration-200 ease-in-out"
            [ngClass]="{
              'bg-mint-50 ring-1 ring-mint-200 border-mint-200 border-b-2':
                contact.id === activeSubmenu,
              'hover:bg-fade-white border-b-transparent':
                contact.id !== activeSubmenu
            }"
          >
            <div class="relative">
              <ng-container *ngIf="!contact.imageURL; else avatarImage">
                <div
                  class="w-7 h-7 rounded-full bg-mint-200 flex items-center justify-center text-mint-600 text-xs font-medium uppercase"
                >
                  {{ getInitials(contact.name) }}
                </div>
              </ng-container>
              <ng-template #avatarImage>
                <img [src]="contact.imageURL" class="w-5 h-5 object-contain" />
              </ng-template>
            </div>
            <span class="text-sm">{{ contact.name }}</span>
            <div
              *ngIf="contact.badgeCount"
              class="badge bg-mint-200 px-1.5 py-1 rounded-md text-xs"
            >
              {{ contact.badgeCount }}
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 bg-green-300 overflow-y-auto shrink"></div>
    </ng-container>
  </div>
  <div
    class="max-w-full h-full max-h-[182px] lg:max-w-[208px] mx-auto rounded-2xl border border-[#EDEDED] bg-[#f9f9f9] p-3 text-center"
  >
    <div class="flex justify-center mb-1 sm:mb-2">
      <div class="rounded-full bg-[#EBF9FB] p-1.5">
        <img src="assets/icons/king-icon.svg" />
      </div>
    </div>
    <h2 class="font-semibold text-primary-text text-sm sm:text-base">
      Upgrade to
      <span
        class="bg-[#C3EBF3] text-mint-400 text-xs sm:text-sm font-medium px-2 py-0.5 rounded-md ml-1 align-middle"
        >Pro</span
      >
    </h2>
    <p class="text-fade-text mt-1 sm:mt-2 text-[8px] sm:text-xs">
      Dorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <app-primary-button
      [text]="'Learn more'"
      [bgColor]="'#06ACCE'"
      [hoverColor]="'#0799B7'"
      fontSize="text-xs sm:text-sm"
      padding="py-1.5 sm:py-2 px-3"
      width="w-[95px] sm:w-[108px]"
    ></app-primary-button>
  </div>
</div>
